 <!--Include header-->
 <%- include('include/_header') %>
 <!--Include header-->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> All Users</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark" >Update User</h2>
            <span class="text-dark">Use the below form to update an User</span>
        </div>
        <!-- add user form -->
        <!-- With that action we will send a POST REQUEST to that url. We have an API route.post("/api/users/:id", controller.update) that will access to that ID in the URL (that comes from the _show.ejs file) with the query.id (that comes from the response from the database) -->
        <form action= "/api/users/<%= query.id %>" method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="<%= user.name %>">
                    <input type="text" name="name" value="<%= user.name %>" placeholder="<%= user.name %>">
                </div>
                <div class="form-group">
                    <label for="Email" class="text-light">Email</label>
                    <input type="text" name="email" value="<%= user.email %>" placeholder="<%= user.email %>">
                </div>
                <div class="form-group">
                    <label for="gender" class="text-light">Gender</label>
                    <div class="radio inline">
                        <input type="radio" id="radio-2" name="gender" value="Male" <%= user.gender == 'Male' ? 'Checked': '' %>>
                        <label for="radio-2" class="radio-label">Male</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-3" name="gender" value="Female" <%= user.gender == 'Female' ? 'Checked': '' %>>
                        <label for="radio-3" class="radio-label">Female</label>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="gender" class="text-light">Status</label>
                    <div class="radio inline">
                        <input type="radio" id="radio-4" name="status" value="Active" <%= user.status == 'Active' ? 'Checked': '' %>>
                        <label for="radio-4" class="radio-label">Active</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-5" name="status" value="Inactive" <%= user.status == 'Inactive' ? 'Checked': '' %>>
                        <label for="radio-5" class="radio-label">Inactive</label>
                    </div>
                </div>
        
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
        
            </div>
        </form> 
       
    </div>
</main>
<!-- /Main Site -->


  <!--Include footer-->
  <%- include('include/_footer') %>
  <!--Include footer-->