<!--Using ejs engine in rder to iterate through the list of Objects we've got from the database thanks to the HTTP GET request "/" when visiting the home page-->
<script> angularusers = [] </script>
<input class="btn btn-info" type="button" value="Click to use $Resource" ng-click="getUser()">
<h3>{{getCarResponse}}</h3>
<% for(var i = 0; i < users.length; i++) { %>

    <tr>

        <!--Data display with DATA from the database  -->
        <td> <input class="btn btn-info" type="button" value="Show data with Angularjs" ng-click="getDetails(<%= i %>)"></td>
        <td><%= i + 1 %></td>
        <td><%= users[i].name %></td> <script> angularusers["<%= i  %>"] = {name: "<%= users[i].name %>"} </script>
        <td><%= users[i].email %></td> <script> angularusers["<%= i  %>"].email = "<%= users[i].email %>" </script>
        <td><%= users[i].gender %></td> <script> angularusers["<%= i  %>"].gender = "<%= users[i].gender %>"  </script>
        <td><%= users[i].status %></td> <script> angularusers["<%= i  %>"].status = "<%= users[i].status %>"  </script>


        <!--Bottoms-->
        <td>
            <!--When clicking we link it to the Route /upadate-user with the ID as a parameter to RENDER /update-user.ejs file and send POST REQUEST through our service.update_user RENDER and wE get then all the information from the database of that USER -->
            <a href="/update-user?id=<%= users[i]._id%>" class="btn norder-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>

            <a class="btn border-shadow delete" data-id= "<%= users[i]._id%>" >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>

    </tr>

    <!--<h3><%= caca[i]._id%></h3> USING res.locals from the Route "/" GET that the server SEND to the database -->
    

<% } %>
