<!--Using ejs engine in rder to iterate through the list of Objects we've got from the database thanks to the HTTP GET request "/" when visiting the home page-->
<% for(var i = 0; i < users.length; i++) { %>

    <tr>

        <!--Data display with DATA from the database  -->
        <td><%= i + 1 %></td>
        <td><%= users[i].name %></td>
        <td><%= users[i].email %></td>
        <td><%= users[i].gender %></td>
        <td><%= users[i].status %></td>

        <!--Bottoms-->
        <td>
            <!--When clicking we link it to the Route /upadate-user with the ID as a parameter to RENDER /update-user.ejs file and send POST REQUEST through our service.update_user RENDER and wE get then all the information from the database of that USER -->
            <a href="/update-user?id=<%= users[i]._id%>" class="btn norder-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>

            <a class="btn border-shadow delete" data-id= "<%= users[i]._id%>" >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>

    </tr>
    <h3><%= users[i]._id%></h3>
    <h3><%= caca[i]._id%></h3> <!--USING res.locals from the Route "/" GET that the server SEND to the database -->

<% } %>
